@charset "utf-8";
*{
	margin: 0;
	padding: 0;
}
body{
	width: 1000px;
	height: 200px;
	margin: 50px auto;
	background-image: url(../img/1.jpg);
}
.box img{
	width: 200px;
	height: 150px;
	float: left;
	cursor: pointer;
}
